@{
    ViewData["Title"] = "Strona główna";
}

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Witamy na RecipesHub</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Platforma do odkrywania i dzielenia się przepisami!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/recipes" type="button" class="btn btn-primary btn-lg px-4 gap-3">Strona główna</a>
            <a href="/Identity/Account/Register" type="button" class="btn btn-outline-secondary btn-lg px-4">Zarejestruj się</a>
            </div>
        </div>
    </div>

